body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Secular One', sans-serif;
    background-color: #434242;
}

img{
    border-radius: 100%;
    box-shadow: 5px 5px 30px black;
}

h1{
    font-family: 'Lobster', Arial;
    margin: 0 auto 30px;
    font-size: 3.125rem;
}

span{
    font-weight: bold;
}

h3{
    font-size: 2rem;
    font-family: 'Lobster', Arial;
    margin-bottom: 40px;
}

/**********************class*********************/

.container{
    width: 50%;
    margin: 50px auto 50px;
    background-color: #9ca0a1;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px 30px black;
}

.jimin-img{
    width: 90%;
    border-radius: 20px;
    box-shadow: 5px 5px 30px black;
    margin-bottom: 20px;
    margin-top: 20px;
}

.about{
    margin: 30px auto;
}

.songs,img{
    width: 60%;
    margin: auto;
}

.titles{
    font-weight: bold;
    margin: 20px 0 50px;
}

.quote{
    font-family: 'Berkshire Swash', cursive;
}

